<div class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Brian Skarda</a>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="mailto:bskarda@vt.edu">
        <i class="fa fa-envelope fa-lg"></i></a></li>
      <li><a href="http://www.linkedin.com/in/brianskarda">
        <span class="fa fa-linkedin fa-lg"></span></a></li>
      <li><a href="https://www.facebook.com/bskarda">
        <span class="fa fa-facebook fa-lg"></span></a></li>
      <li><a href="https://twitter.com/BrianSkarda">
        <span class="fa fa-twitter fa-lg"></span></a></li>
      <li><a href="/#project">Projects</a></li>
      <li><a href="/#resume">Resume</a></li>
      <li><a href="/blog/">Blog</a></li>
    </ul>
  </div>
</div>
